@import "compass";

@import "_layout/_adjustment.scss";
@import "_layout/_fonts.scss";

/* Sections */
@import "sections/sprite.scss";
@import "sections/sprite2.scss";
@import "sections/header.scss";
@import "sections/products-menu.scss";
@import "sections/breadcrumbs.scss";
@import "sections/slider.scss";
@import "sections/sidebar.scss";
@import "sections/content.scss";
@import "sections/main-information.scss";
@import "sections/footer.scss";
