extends ../main.jade

block title
	title Мобильные телефоны

block section-title
	h2.section-title Мобильные телефоны

block content
	.content

		.content__sort-block
			.select__wrapper
				.select__text Сортировать по
				.select
			.catalogue__wrapper
				.catalogue__text Вид каталога
				ul.catalogue__ul
					li.catalogue__li
						a(href="#").catalogue__link.catalogue__link_one Вид 1
							.sprite__block.sprite__block_one
					li.catalogue__li
						a(href="#").catalogue__link.catalogue__link_one Вид 2
							.sprite__block.sprite__block_two
					li.catalogue__li
						a(href="#").catalogue__link.catalogue__link_one Вид 3
							.sprite__block.sprite__block_three

		.content__goods
			ul.content__goods_list

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-samsung
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung3
						p.mark.mark_page2 Артикул 
							span.mark__span  189238
					.goods__info.goods__info_page2
						.goods__title Samsung GT-l9301l GALAXY S 3
						.goods__text.
							Смартфон Samsung GT-l9301l GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц... 
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2 
							span.price__span 11 290
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-lumia640
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-lumia640-1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-lumia640-2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-lumia640-3
						p.mark.mark_page2 Артикул 
							span.mark__span  283135
					.goods__info.goods__info_page2
						.goods__title Microsoft Lumia 640 RM-1077
						.goods__text.
							Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровыз возможностей. Этот многофункциональный смартфон уже содержит набор бесплатных сервисов Microsoft...
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 10 990
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-archos
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-archos1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-archos2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-archos3
						p.mark.mark_page2 Артикул 
							span.mark__span  189238
					.goods__info.goods__info_page2
						.goods__title Archos 50 Oxygen Plus
						.goods__text.
							Смартфон Archos 50 Oxygen Plus, серый. Моноблок, Micro-SIM, Android , 3G, Bluetooth, USB-подключение к ПК, Wi-Fi, Разрешение основной камеры 8 Мп...
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 9 990
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-philips
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-philips1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-philips2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-philips3
						p.mark.mark_page2 Артикул 
							span.mark__span  189238
					.goods__info.goods__info_page2
						.goods__title Philips S398 Black
						.goods__text.
							Смартфон Philips S398 Black. Черный корпус и разнообразие цветных панелей для Philips S398 как нельзя лучше подчеркнут ваш статус и уверенность в себе. Преимущества этой модели...
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 8 990
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-lumia430
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-lumia430-1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-lumia430-2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-lumia430-3
						p.mark.mark_page2 Артикул 
							span.mark__span  387228
					.goods__info.goods__info_page2
						.goods__title Microsoft Lumia 430 RM-1099
						.goods__text.
							Смартфон Microsoft Lumia 430 RM-1099 black
							Куда бы вы ни направлялись, смартфон должен быть надежным спутником. Поэтому у Microsoft Lumia 430 Dual SIM (RM-1099) удобный компактный корпус ...
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 5 390
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-hs
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-hs1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-hs2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-hs3
						p.mark.mark_page2 Артикул 
							span.mark__span  359110
					.goods__info.goods__info_page2
						.goods__title HIGHSCREEN Win-Win Black
						.goods__text.
							Смартфон HIGHSCREEN WinWin Black оснащен 4" дисплеем и двумя слотами для SIM-карт.  Windows Phone , 3G, Bluetooth, USB-подключение к ПК...
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 3 990
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-samsung
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung3
						p.mark.mark_page2 Артикул 
							span.mark__span  189238
					.goods__info.goods__info_page2
						.goods__title Samsung GT-l9301l GALAXY S 3
						.goods__text.
							Смартфон Samsung GT-l9301l GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 11 290
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии

				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-samsung
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung3
						p.mark.mark_page2 Артикул 
							span.mark__span  189238
					.goods__info.goods__info_page2
						.goods__title Samsung GT-l9301l GALAXY S 3
						.goods__text.
							Смартфон Samsung GT-l9301l GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 11 290
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии
				li.content__goods_item.content__goods_item-page2.content__goods_item-page3
					.goods__photo.goods__photo_page2
						.goods__photo_main
							.goods__photo_main-wrapper
								.goods__photo_main-samsung
						ul.goods__photo_list
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung1
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung2
							li.goods__photo_small
								.goods__small_wrapper
									.goods__photo_small-samsung3
						p.mark.mark_page2 Артикул 
							span.mark__span  189238
					.goods__info.goods__info_page2
						.goods__title Samsung GT-l9301l GALAXY S 3
						.goods__text.
							Смартфон Samsung GT-l9301l GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
						.goods__stars
							.goods__stars.goods__stars_one
							.goods__stars.goods__stars_two
							.goods__stars.goods__stars_three
							.goods__stars.goods__stars_four
							.goods__stars.goods__stars_five
							.goods__stars_number 4
					.goods__buy-info.goods__buy-info_page2
						.goods__price.goods__price_page2
							span.price__span 11 290
							img(src="images/rouble.png").rouble-sign
						button(type='submit').goods__basket.goods__basket_page2 В корзину
						.goods__available.goods__available_page2
							.sphere
							.goods__available_text В наличии
				