extends ../main.jade

block title
	title Мобильные телефоны

block section-title
	h2.section-title Мобильные телефоны

block content
	.content
		.content__sort-block
		.content__products
			ul.content__products_list
				li.content__products_item