.socials, .socials__item-header, .socials__link, .address-block, .address__map, .address__link, .address__text, .telephone-block, .telephone__picture, .telephone__text, .logo__wrapper, .form-nav__header-wrapper, .form__header, .nav__header-wrapper, .nav__item, .logo__link, .products-menu__link, .acco__link, .socials__item-footer, .products-menu__footer-item {
  display: inline-block;
}

.container:before, .footer__left-right-wrapper:before, .products-menu__footer-list:before, .container:after, .footer__left-right-wrapper:after, .products-menu__footer-list:after {
  content: "";
  display: table;
}
.container:after, .footer__left-right-wrapper:after, .products-menu__footer-list:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.article {
  padding-bottom: 233px;
  width: 1111px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@font-face {
  font-family: "opensans-regular";
  src: url("/fonts/opensans-regular.eot");
  src: url("/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular.woff") format("woff"), url("/fonts/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-semibold";
  src: url("/fonts/opensans-semibold.eot");
  src: url("/fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-semibold.woff") format("woff"), url("/fonts/opensans-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-light";
  src: url("/fonts/opensans-light.eot");
  src: url("/fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-light.woff") format("woff"), url("/fonts/opensans-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-bold";
  src: url("/fonts/opensans-bold.eot");
  src: url("/fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bold.woff") format("woff"), url("/fonts/opensans-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Sections */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
header {
  min-width: 1111px;
}

.header__wrapper {
  width: 1111px;
  margin: 0 auto;
  padding-left: 12px;
}

.header__container-first-line {
  background-color: white;
  height: 78px;
  border-bottom: 1px solid #ebedef;
  padding-top: 25px;
}

.header__address_wrapper {
  float: right;
  margin-top: -2px;
}

.socials__list {
  padding-left: 0;
  margin: 0;
}

.socials__item-header {
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.socials__link {
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}

.socials__link_fb {
  background-image: url(../images/sprite.png);
  background-position: -189px 0px;
  width: 26px;
  height: 26px;
}
.socials__link_fb:hover {
  background-image: url(../images/sprite.png);
  background-position: -189px -46px;
  width: 26px;
  height: 26px;
}

.socials__link_vk {
  background-image: url(../images/sprite.png);
  background-position: -47px -126px;
  width: 27px;
  height: 26px;
}
.socials__link_vk:hover {
  background-image: url(../images/sprite.png);
  background-position: 0px -126px;
  width: 27px;
  height: 26px;
}

.socials__link_tw {
  background-image: url(../images/sprite.png);
  background-position: -140px -126px;
  width: 26px;
  height: 26px;
}
.socials__link_tw:hover {
  background-image: url(../images/sprite.png);
  background-position: -94px -126px;
  width: 26px;
  height: 26px;
}

.address-block {
  height: 20px;
  margin-top: 5px;
  vertical-align: top;
  color: #333333;
}

.address__map {
  background-image: url(../images/sprite.png);
  background-position: -189px -128px;
  width: 12px;
  height: 16px;
  vertical-align: middle;
}

.address__link {
  height: 16px;
}

.address__text {
  font-family: "opensans-regular";
  font-size: 14px;
  vertical-align: middle;
  margin-left: 6px;
  color: #333333;
}

.telephone-block__link {
  display: inline-block;
}

.telephone-block {
  height: 24px;
  margin-left: 81px;
  vertical-align: top;
}

.telephone__picture {
  background-image: url(../images/sprite.png);
  background-position: -187px -85px;
  width: 20px;
  height: 25px;
  vertical-align: middle;
}

.telephone__text {
  font-family: "opensans-semibold";
  font-size: 18px;
  vertical-align: middle;
  color: #333333;
}

.header__container-second-line {
  width: 1111px;
  margin: 0 auto;
  height: 94px;
  padding-top: 30px;
  padding-left: 12px;
}

.form__header {
  height: 43px;
}

.form__input-text {
  height: 34px;
  width: 292px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  font-family: "opensans-light";
  font-size: 14px;
  color: #7f7f7f;
  padding-left: 16px;
  margin-right: -8px;
  outline: none;
  vertical-align: middle;
}

.form__submit-button {
  height: 34px;
  min-width: 79px;
  background-color: #ff6603;
  color: white;
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  font-family: "opensans-semibold";
  font-size: 16px;
  vertical-align: middle;
}

.form-nav__header-wrapper {
  float: right;
}

.nav__list {
  padding-left: 0;
  margin-left: -29px;
}

.nav__item {
  margin-left: 29px;
}

.nav__header-wrapper {
  font-family: "opensans-semibold";
  font-size: 16px;
  padding-top: 6px;
  margin-left: 44px;
}

.nav__link {
  text-decoration: underline;
  color: #333333;
}
.nav__link:visited {
  color: #333333;
}
.nav__link:hover {
  color: #ff6600;
}

.products-menu {
  background-color: white;
  min-width: 1111px;
}

.products-menu__wrapper {
  width: 1111px;
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 8px;
}

.products-menu__list {
  padding-left: 0;
  height: 54px;
  display: box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: -webkit-box;
  box-orient: horizontal;
  o-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.products-menu__item {
  font-family: "opensans-regular";
  font-size: 16px;
  height: 54px;
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}

.products-menu__link {
  color: #333333;
  padding-top: 15px;
  height: 54px;
  width: 100%;
}
.products-menu__link:hover {
  background-color: #e4e2e2;
}
.products-menu__link-active {
  background-color: #ff6600;
  font-family: "opensans-semibold";
  color: white;
}
.products-menu__link-active:hover {
  background-color: #ff6600;
  font-family: "opensans-semibold";
  color: white;
}

.breadcrumbs {
  width: 1111px;
  height: 65px;
  margin: 0 auto;
  padding-top: 28px;
  padding-left: 10px;
  margin-bottom: 2px;
}

.breadcrumbs__list {
  padding-left: 0;
}

.breadcrumbs__item, .breadcrumbs__link {
  display: inline-block;
}

.breadcrumbs__link {
  font-family: 'opensans-regular';
  font-size: 14px;
  color: #4d4d4d;
}
.breadcrumbs__link_active {
  color: #ff6600;
  text-decoration: underline;
}

.ui-slider {
  position: relative;
  margin-bottom: 31px;
}

#slider {
  width: 273px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: url(/images/slider.png) no-repeat;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  overflow: hidden;
}

.ui-slider-horizontal {
  height: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -4px;
  outline: none;
  top: 1px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-widget-content {
  background: #dee1e4;
}

.ui-widget-header {
  border: 1px solid #ff6600;
  background: #ff6600;
}

.sidebar__list, .sidebar__acco-form {
  border: 1px solid #dee1e4;
  border-radius: 5px;
}

.section-title {
  font-family: "opensans-bold";
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 28px;
  padding-left: 9px;
  color: #333333;
}

.container {
  padding-left: 11px;
  margin-bottom: 25px;
}

.sidebar {
  display: inline-block;
  width: 333px;
  vertical-align: top;
  float: left;
}

.sidebar__list {
  min-height: 92px;
  margin-bottom: 36px;
  background-color: #fbfbfb;
  font-family: "opensans-regular";
  font-size: 14px;
  padding-left: 0;
}

.sidebar__item {
  min-height: 46px;
  width: 100%;
}

.sidebar__link {
  display: inline-block;
  width: 100%;
  min-height: 46px;
  color: #5d656c;
  padding-left: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dee1e4;
}
.sidebar__link:hover {
  background-color: #d9e5ea;
}

.sidebar__link_last {
  border-bottom: none;
}

.sidebar__acco-form {
  background-color: #fbfbfb;
}

.acco__list {
  padding-left: 0;
}

.acco__item {
  border-bottom: 1px solid #dee1e4;
}

.acco__link {
  font-family: "opensans-semibold";
  font-size: 16px;
  color: #333333;
  width: 100%;
  min-height: 46px;
  padding-left: 28px;
  padding-top: 11px;
  position: relative;
}

.up:after {
  background-image: url(../images/sprite2.png);
  background-position: -38px -78px;
  width: 18px;
  height: 11px;
  content: "";
  display: inline-block;
  width: 18px;
  height: 11px;
  position: absolute;
  right: 11px;
  bottom: 19px;
}

.down:after {
  background-image: url(../images/sprite2.png);
  background-position: 0px -78px;
  width: 18px;
  height: 11px;
  content: "";
  display: inline-block;
  width: 18px;
  height: 11px;
  position: absolute;
  right: 11px;
  bottom: 19px;
}

.acco__content {
  font-family: "opensans-regular";
  font-size: 14px;
  color: #333333;
  padding-left: 29px;
  margin-top: 2px;
}

.acco__content-link {
  color: #5db2fc;
  text-decoration: underline;
}

.acco__link_hover {
  background-color: #d9e5ea;
}

.acco__content-item {
  margin-bottom: 19px;
}

.label {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.acco__content-item_input {
  width: 19px;
  height: 19px;
  vertical-align: top;
  margin-right: -24px;
  margin-top: -1px;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.radiobox-fake, .checkbox-fake {
  width: 19px;
  height: 19px;
  vertical-align: top;
  display: inline-block;
  margin-right: 11px;
}

.label:hover .radiobox-fake {
  background-image: url(../images/sprite2.png);
  background-position: -78px 0px;
  width: 19px;
  height: 19px;
}

.radiobox-fake {
  background-image: url(../images/sprite2.png);
  background-position: -78px -39px;
  width: 19px;
  height: 19px;
}

.checked_elem:checked + .radiobox-fake {
  background-image: url(../images/sprite2.png);
  background-position: -39px -39px;
  width: 19px;
  height: 19px;
}

.label:hover .checkbox-fake {
  background-image: url(../images/sprite2.png);
  background-position: -39px 0px;
  width: 19px;
  height: 19px;
}

.checkbox-fake {
  background-image: url(../images/sprite2.png);
  background-position: 0px -39px;
  width: 19px;
  height: 19px;
}

.checked_elem1:checked + .checkbox-fake {
  background-image: url(../images/sprite2.png);
  background-position: 0px 0px;
  width: 19px;
  height: 19px;
}

.acco__reset {
  margin-bottom: 18px;
  margin-top: -9px;
}

.acco__link_colors {
  padding-top: 14px;
}

.acco__colors {
  padding-right: 65px;
  margin-bottom: -2px;
  padding-top: 3px;
}

.acco__colors_item {
  width: 37px;
  height: 37px;
  border: 1px solid #dee1e4;
  display: inline-block;
  font-size: 0;
  margin-right: 18px;
  margin-bottom: 18px;
}
.acco__colors_item:hover {
  border: 1px solid #ff6600;
}

.acco__colors_item0 {
  background-color: #ffffff;
}

.acco__colors_item1 {
  background-color: #cccccc;
}

.acco__colors_item2 {
  background-color: #000000;
}

.acco__colors_item3 {
  background-color: #0a3153;
}

.acco__colors_item4 {
  background-color: #ff1800;
}

.acco__colors_item5 {
  background-color: #fff343;
}

.acco__colors_item6 {
  background-color: #fb914a;
}

.acco__colors_item7 {
  background-color: #92c37c;
}

.acco__colors_item8 {
  background-color: #40a6ff;
}

.acco__colors_item9 {
  background-color: #9870ad;
}

.acco__colors_item10 {
  background-color: #dc78ad;
}

.acco__colors_item11 {
  background-color: #7f401d;
}

.prices {
  margin-top: 3px;
  margin-bottom: 18px;
}

.price__text, .price__input {
  display: inline-block;
}

.price__text {
  margin-right: 10px;
}

.price__input {
  width: 83px;
  height: 30px;
  border: 1px solid #ebedef;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
}

.price__input_first {
  margin-right: 45px;
}

.content {
  width: 743px;
  display: inline-block;
  float: right;
}

.content__sort-block {
  background-color: #e4ebee;
  border: 1px solid #dee1e4;
  height: 53px;
  border-radius: 5px;
  font-family: "opensans-regular";
  font-size: 14px;
  color: #5d656c;
  padding-left: 21px;
  margin-bottom: 20px;
}

.select__wrapper, .catalogue__ul {
  display: inline-block;
}

.select__wrapper {
  position: relative;
}

.select, .catalogue__ul, .catalogue__text {
  display: inline-block;
  vertical-align: middle;
}

.select__text {
  margin-right: 6px;
  margin-top: 13px;
  display: inline-block;
}

.select2 {
  font-family: "opensans-light";
  font-size: 14px;
  color: #7f7f7f;
}

.catalogue__wrapper {
  float: right;
}

.catalogue__ul {
  text-align: right;
  padding-left: 0;
  height: 52px;
  font-size: 0;
}

.catalogue__text {
  margin-right: 11px;
  margin-bottom: 6px;
}

.catalogue__li {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-left: 1px solid #dee1e4;
}

.catalogue__link {
  display: inline-block;
  text-indent: 100%;
  width: 52px;
  height: 52px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}

.sprite__block {
  margin-left: 18px;
  margin-right: 0;
}

.sprite__block_one {
  background-image: url(../images/sprite3.png);
  background-position: -250px 0px;
  width: 16px;
  height: 16px;
}
.sprite__block_one:hover {
  background-image: url(../images/sprite3.png);
  background-position: -179px -103px;
  width: 16px;
  height: 16px;
}

.sprite__block_two {
  background-image: url(../images/sprite3.png);
  background-position: -173px -196px;
  width: 16px;
  height: 16px;
}
.sprite__block_two:hover {
  background-image: url(../images/sprite3.png);
  background-position: -209px -196px;
  width: 16px;
  height: 16px;
}

.sprite__block_three {
  background-image: url(../images/sprite3.png);
  background-position: -250px -72px;
  width: 16px;
  height: 16px;
}
.sprite__block_three:hover {
  background-image: url(../images/sprite3.png);
  background-position: -250px -36px;
  width: 16px;
  height: 16px;
}

.content__goods_item:hover {
  box-shadow: 0 0 10px #a9acae;
}

.content__goods {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin-bottom: 65px;
}

.content__goods_list {
  padding-left: 0;
}

.goods__photo {
  width: 136px;
  position: relative;
}

.goods__photo_list {
  padding-left: 0;
  font-size: 0;
}

.goods__photo_main-img, .goods__photo_small-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.goods__photo_small-img {
  height: 85%;
}

.goods__photo_main {
  width: 136px;
  height: 136px;
  border: 1px solid #dfe2e5;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}
.goods__photo_main:hover {
  border: 1px solid #ff6600;
}

.goods__photo_small {
  width: 34px;
  height: 34px;
  border: 1px solid #dfe2e5;
  border-radius: 2px;
  display: inline-block;
  background-color: white;
  margin-right: 17px;
  position: relative;
  cursor: pointer;
}
.goods__photo_small:hover {
  border: 1px solid #ff6600;
}

.slider_first_picture {
  background-image: url(/images/samsung-big-2.jpg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider_second_picture {
  background-image: url(/images/samsung-big-3.jpg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.goods__photo_main-wrapper {
  margin-top: 6px;
  margin-left: 18px;
}

.goods__small_wrapper {
  position: absolute;
  left: 18%;
  top: 5%;
}

.goods__photo_small:last-child {
  margin-right: 0;
}

.mark {
  font-family: "opensans-semibold";
  font-size: 12px;
  color: #878787;
}

.mark__span {
  font-family: "opensans-bold";
  font-size: 14px;
  color: #333333;
  white-space: pre;
}

.goods__title {
  font-family: "opensans-bold";
  font-size: 16px;
  color: #121212;
}

.goods__text {
  font-family: "opensans-regular";
  font-size: 14px;
  color: #333333;
  margin-bottom: 13px;
  margin-top: 20px;
}

.goods__stars {
  display: inline-block;
}

.goods__stars_one {
  background-image: url(../images/sprite3.png);
  background-position: -250px -108px;
  width: 16px;
  height: 15px;
}

.goods__stars_two {
  background-image: url(../images/sprite3.png);
  background-position: -250px -108px;
  width: 16px;
  height: 15px;
}

.goods__stars_three {
  background-image: url(../images/sprite3.png);
  background-position: -250px -108px;
  width: 16px;
  height: 15px;
}

.goods__stars_four {
  background-image: url(../images/sprite3.png);
  background-position: -250px -108px;
  width: 16px;
  height: 15px;
}

.goods__stars_five {
  background-image: url(../images/sprite3.png);
  background-position: -121px -93px;
  width: 21px;
  height: 20px;
}

.goods__stars_number {
  width: 27px;
  height: 15px;
  background-color: #b5beca;
  border-radius: 8px;
  color: #fbfbfb;
  font-family: "opensans-bold";
  font-size: 12px;
  text-align: center;
  display: inline-block;
  line-height: 1.3;
  vertical-align: middle;
  margin-left: 2px;
}

.goods__price {
  font-family: "opensans-bold";
  font-size: 20px;
  color: #333333;
}

.price__span {
  margin-right: 4px;
}

.rouble-sign {
  width: 10px;
}

.goods__basket {
  width: 103px;
  height: 33px;
  background-color: #ff6600;
  font-family: "opensans-bold";
  font-size: 14px;
  color: #fff5ee;
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
}
.goods__basket:hover {
  background-color: #fd7215;
}

.sphere, .goods__available_text {
  display: inline-block;
}

.sphere {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #60ac49;
}

.goods__available_text {
  font-family: "opensans-bold";
  font-size: 12px;
  color: #7f7f7f;
}

.content-page1 .content__goods_item {
  padding: 19px 26px 0 22px;
  border-bottom: 1px solid #dfe2e5;
}
.content-page1 .wrap {
  display: table;
  margin-bottom: 15px;
}
.content-page1 .goods__photo, .content-page1 .goods__info, .content-page1 .goods__buy-info {
  display: table-cell;
  vertical-align: top;
}
.content-page1 .goods__photo {
  padding-right: 24px;
}
.content-page1 .goods__info {
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px 15px 15px 0;
}
.content-page1 .goods__buy-info {
  height: 100%;
  width: 127px;
  border-left: 1px solid #dee1e4;
  padding-left: 24px;
  position: relative;
}
.content-page1 .mark {
  margin-top: 7px;
  margin-left: 13px;
  margin-bottom: 0;
}
.content-page1 .goods__price {
  padding-left: 24px;
  padding-top: 2px;
}
.content-page1 .goods__basket {
  margin-bottom: 5px;
  position: absolute;
  bottom: 20px;
}
.content-page1 .goods__available {
  margin-left: 21px;
  position: absolute;
  bottom: 1px;
}
.content-page1 .goods__title3, .content-page1 .goods__table {
  display: none;
}

.content-page2 .content__goods {
  background-color: #f4f4f4;
  border: none;
  text-align: justify;
}
.content-page2 .content__goods_item {
  display: inline-block;
  width: 235px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background-color: #fbfbfb;
  height: 513px;
  vertical-align: top;
  margin-bottom: 19px;
  padding-top: 19px;
}
.content-page2 .content__goods_item:nth-child(7) {
  margin-right: 14px;
}
.content-page2 .content__goods_item:nth-child(8) {
  margin-right: 11px;
}
.content-page2 .goods__info {
  margin: 0 auto;
}
.content-page2 .goods__photo {
  margin: 0 auto;
  margin-bottom: 12px;
}
.content-page2 .goods__title {
  font-size: 15px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 42px;
}
.content-page2 .goods__table {
  font-family: "opensans-regular";
  font-size: 14px;
  width: 213px;
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 3px;
  display: table;
}
.content-page2 td {
  max-height: 21px;
  overflow: hidden;
}
.content-page2 tr {
  line-height: 1.45;
}
.content-page2 tr:nth-child(odd) {
  background-color: #e6e6e6;
}
.content-page2 tr:nth-child(even) {
  background-color: #fbfbfb;
}
.content-page2 .goods__td_left {
  float: left;
}
.content-page2 .goods__td_right {
  float: right;
}
.content-page2 .goods__price, .content-page2 .goods__stars_list, .content-page2 .goods__buy-info {
  text-align: center;
}
.content-page2 .goods__stars_list {
  margin-bottom: 1px;
  padding-right: 5px;
  position: relative;
  height: 24px;
}
.content-page2 .goods__stars_list-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
}
.content-page2 .goods__price {
  padding-right: 9px;
  margin-bottom: 3px;
}
.content-page2 .goods__buy-info {
  position: relative;
}
.content-page2 .goods__available {
  position: absolute;
  left: 22px;
  top: 36px;
}
.content-page2 .goods__basket {
  position: absolute;
  right: 12px;
  top: 30px;
}
.content-page2 .mark, .content-page2 .goods__title3, .content-page2 .goods__text {
  display: none;
}

.content-page3 .goods__photo, .content-page3 .goods__info, .content-page3 .goods__buy-info, .content-page3 .goods__price, .content-page3 .goods__basket, .content-page3 .goods__available {
  display: inline-block;
}
.content-page3 .content__goods_item {
  height: 51px;
  border-bottom: 1px solid #dee1e4;
  padding-left: 12px;
  padding-top: 4px;
  padding-right: 14px;
}
.content-page3 .goods__photo, .content-page3 .goods__info, .content-page3 .goods__buy-info {
  vertical-align: middle;
}
.content-page3 .price__span {
  margin-right: 8px;
}
.content-page3 .goods__photo {
  margin-right: -26px;
}
.content-page3 .goods__buy-info {
  float: right;
  margin-top: 5px;
}
.content-page3 .price__span {
  font-size: 18px;
}
.content-page3 .rouble-sign {
  width: 8%;
}
.content-page3 .goods__basket {
  float: right;
  margin-left: 20px;
}
.content-page3 .goods__title3 {
  font-family: "opensans-regular";
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  width: 289px;
}
.content-page3 .goods__info {
  width: 289px;
  overflow: hidden;
}
.content-page3 .goods__photo_main, .content-page3 .goods__photo_list, .content-page3 .goods__title, .content-page3 .goods__text, .content-page3 .goods__table, .content-page3 .goods__stars_list {
  display: none;
}

.content__pages {
  margin-bottom: 2px;
}

.content__pages_list {
  text-align: right;
  padding-left: 0;
}

.content__pages_item, .content__pages_link {
  display: inline-block;
}

.content__pages_item {
  background-color: #fbfbfb;
  border: 1px solid #dee1e4;
  border-radius: 3px;
}
.content__pages_item:hover {
  background-color: #e0e0e0;
}

.content__pages_link {
  font-family: "opensans-bold";
  font-size: 12px;
  color: #7f7f7f;
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 3px;
}

.section-title__footer {
  margin-bottom: 18px;
}

.column {
  width: 1111px;
  margin: 0 auto;
  font-family: "opensans-regular";
  font-size: 14px;
  color: #333333;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-column-width: 530px;
  -moz-column-width: 530px;
  column-width: 530px;
  text-align: justify;
  text-indent: 37px;
  padding-left: 10px;
  vertical-align: top;
  padding-bottom: 19px;
}

.column__paragraph {
  margin-top: 0;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer {
  background: url(/images/background-footer.jpg);
  height: 222px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 35px;
  font-family: "opensans-regular";
  min-width: 1111px;
}

.logo__wrapper {
  width: 238px;
  height: 41px;
}

.footer__wrapper {
  border-bottom: 1px solid #494949;
  height: 157px;
}

.footer__left-right-wrapper {
  width: 1111px;
  margin: 0 auto;
}

.footer__left {
  float: left;
  padding-top: 36px;
  padding-left: 12px;
  width: 50%;
}

.footer__right {
  float: right;
  width: 50%;
}

.socials__item-footer {
  width: 43px;
  height: 43px;
  margin-left: 22px;
}

.socials__footer {
  float: right;
  padding-right: 5px;
  margin-bottom: 28px;
}

.socials__footer-link_fb {
  background-image: url(../images/sprite.png);
  background-position: -126px 0px;
  width: 43px;
  height: 43px;
}
.socials__footer-link_fb:hover {
  background-image: url(../images/sprite.png);
  background-position: -63px 0px;
  width: 43px;
  height: 43px;
}

.socials__footer-link_vk {
  background-image: url(../images/sprite.png);
  background-position: 0px -63px;
  width: 43px;
  height: 43px;
}
.socials__footer-link_vk:hover {
  background-image: url(../images/sprite.png);
  background-position: -63px -63px;
  width: 43px;
  height: 43px;
}

.socials__footer-link_tw {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 43px;
  height: 43px;
}
.socials__footer-link_tw:hover {
  background-image: url(../images/sprite.png);
  background-position: -126px -63px;
  width: 43px;
  height: 43px;
}

.products-menu__footer {
  clear: both;
}

.products-menu__footer-list {
  padding-left: 0;
  margin-right: -10px;
  text-align: right;
}

.products-menu__footer-item {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 14px;
}

.products-menu__footer-link {
  font-size: 14px;
  color: white;
  text-decoration: underline;
}
.products-menu__footer-link:hover {
  color: #ff6600;
}

.footer__down, .footer__text {
  width: 1111px;
  margin: 0 auto;
}

.footer__text {
  font-size: 12px;
  color: #d6d6d6;
  text-align: center;
  padding-top: 5px;
  padding-left: 14px;
}
