footer.footer
	.footer__wrapper
		.footer__left-right-wrapper
			.footer__left
				.logo__wrapper
					a(href="/").logo__link
						img(src='images/logo-footer.png').logo__img
			.footer__right
				.socials.socials__footer
					ul.socials__list
						- var socials = {'fb': 'https://www.facebook.com/', 'vk': 'https://vk.com/', 'tw': 'https://twitter.com/'}
						- each val, key in socials
							li.socials__item-footer
								a(href='#{val}' target='_blank' class='socials__footer-link_#{key}').socials__link= key
				.products-menu__footer
					ul.products-menu__footer-list
						-var prod_menu = ['Планшеты','Мобильные телефоны','Mp3 плееры','Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
						each item in prod_menu
							li.products-menu__footer-item
								a(href='#').products-menu__footer-link= item
	.footer__down
		.footer__text.
			All rights reserved. 2016. no copy allowed