footer.footer
	.footer__left
		.logo
			img(src='').logo__img
	.footer__right
		.socials.socials__footer
			ul.socials__list
				li.socials__item
					a(href="").socials__link.socials__link-fb Fb
				li.socials__item
					a(href="").socials__link.socials__link-vk vk
				li.socials__item
					a(href="").socials__link.socials__link-tw tw
		.products-menu__footer
			ul.products-menu__footer-list
				li.products-menu__item
					a(href='#').products-menu__footer-link Планшеты
				li.products-menu__footer-item
					a(href='#').products-menu__footer-link Мобильные телефоны
				li.products-menu__footer-item
					a(href='#').products-menu__footer-link Mp3 плееры
				li.products-menu__footer-item
					a(href='#').products-menu__footer-link Персональные компьютеры
				li.products-menu__footer-item
					a(href='#').products-menu__footer-link Ноутбуки
				li.products-menu__footer-item
					a(href='#').products-menu__footer-link Аксессуары
				li.products-menu__footer-item
					a(href='#').products-menu__footer-link Бытовая техника
