header.header
	.header__container-first-line
		.header__wrapper
			.socials
				ul.socials__list
					- var socials = ['fb', 'vk', 'tw']
					each item in socials
						li.socials__item
							a(href="https://vk.com/" target='_blank' class='socials__link_#{item}').socials__link= item

			.header__address_wrapper
				.address-block
					.address__map
						a(href='https://maps.yandex.ru/2/saint-petersburg/?ll=30.353965%2C59.933122&z=15&text=%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%2C%20%D0%9C%D0%B0%D1%8F%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C%206&sll=30.315868%2C59.944263&sspn=0.653687%2C0.178098&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D30.354%252C59.933%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%25A1%25D0%25B0%25D0%25BD%25D0%25BA%25D1%2582-%25D0%259F%25D0%25B5%25D1%2582%25D0%25B5%25D1%2580%25D0%25B1%25D1%2583%25D1%2580%25D0%25B3%252C%2520%25D0%25A6%25D0%25B5%25D0%25BD%25D1%2582%25D1%2580%25D0%25B0%25D0%25BB%25D1%258C%25D0%25BD%25D1%258B%25D0%25B9%2520%25D1%2580%25D0%25B0%25D0%25B9%25D0%25BE%25D0%25BD%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259C%25D0%25B0%25D1%258F%25D0%25BA%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25BE%25D0%25B3%25D0%25BE%252C%25206' target="_blank" class='address__link')
					.address__text ул. Маяковская 6, офис 17

				.telephone-block
					.telephone__picture
					.telephone__text +7 (921) 123-12-13

	.header__container-second-line
		.logo__header-wrapper
			a(href='#').logo__link
				img(src='images/logo.png' alt='Логотип').logo__img
		.form-nav__header-wrapper
			form.form__header
				.form__header_wrapper
					input(type="text" placeholder="Что будем искать").form__input-text
					button(type="submit").form__submit-button Найти
			.nav__header-wrapper
				nav.nav
					ul.nav__list
						- var nav = ['Карта проезда', 'История заказов', 'Корзина']
						each nav_item in nav
							li.nav__item
								a(href='#').nav__link= nav_item