aside.sidebar

	ul.sidebar__list
		li.sidebar__item
			a(href="#").sidebar__link Флагманы
		li.sidebar__item
			a(href="#").sidebar__link.sidebar__link_last Бюджетная линейка


	form.sidebar__acco-form
		ul.acco__list
			li.acco__item.sidebar__item

				a(href="#").acco__link Наличие в магазинах
				ul.acco__content
					- var acco_availability = ['Во всех магазинах', 'В ближайшем магазине']
					each acco_availability_input in acco_availability
						li.acco__content-item
							label.label.label__radio
								input(type="radio" name="radio").acco__content-item_input.checked_elem
								.radiobox-fake
								=acco_availability_input
								
			li.acco__item.sidebar__item

				a(href="#").acco__link Бренды
				ul.acco__content
					- var acco_brands = ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola']
					each acco_brands_input in acco_brands
						li.acco__content-item
							label.label.label__checkbox
								input(type="checkbox").acco__content-item_input.checked_elem1
								.checkbox-fake
								= acco_brands_input
					li.acco__reset
						a(href='#').acco__content-link Сбросить фильтр

			li.acco__item.sidebar__item

				a(href="#").acco__link Цена
				ul.acco__content
					li.acco__content-item
						.prices
							label(for="from").price__text от
							input(type="text" id="from" value="0").price__input.price__input_first
							label(for="to").price__text до
							input(type="text" id="to" value="30000").price__input
						.ui-slide
							div#slider

			li.acco__item.sidebar__item.acco__item_color

				a(href="#").acco__link.acco__link_colors Цвет
				ul.acco__content.acco__colors
					-for (var i=0; i<12; i++)
						li(class="acco__colors_item"+i).acco__colors_item

			li.acco__item.sidebar__item

				a(href="#").acco__link.sidebar__link_last Операционные системы
				ul.acco__content
					- var acco_os = ['Android', 'iOS', 'Windows-mobile', 'Symbian', 'Custom']
					each acco_os_item in acco_os
						li.acco__content-item
							label.label.label__checkbox
								input(type="checkbox").acco__content-item_input.checked_elem1
								.checkbox-fake
								= acco_os_item
					li.acco__reset
						a(href='#').acco__content-link Сбросить фильтр