.content {
	width: 743px;
	display: inline-block;
	float: right;
}

.content__sort-block {
	background-color: #e4ebee;
	border: 1px solid #dee1e4;
	height: 53px;
	border-radius: 5px;
	font-family: $opensansreg;
	font-size: 14px;
	color: #5d656c;
	padding-left: 21px;
	margin-bottom: 20px;
}

.select__wrapper, .catalogue__ul {
	display: inline-block;
}

.select__wrapper {
	position: relative;
}

.select, .catalogue__ul, .catalogue__text {
	display: inline-block;
	vertical-align: middle;
}

.select__text {
	margin-right: 6px;
	margin-top: 13px;
	display: inline-block;
}

.select2 {
	font-family: $opensanslight;
	font-size: 14px;
	color: #7f7f7f;
}

.catalogue__wrapper {
	float: right;	
}

.catalogue__ul {
	text-align: right;
	padding-left: 0;
	height: 52px;
	font-size: 0;
}

.catalogue__text {
	margin-right: 11px;
	margin-bottom: 6px;
}

.catalogue__li {
	display: inline-block;
	width: 52px;
	height: 52px;
	border-left: 1px solid #dee1e4;
}

.catalogue__link {
	display: inline-block;
	text-indent: 100%;
	width: 52px;
	height: 52px;
  	white-space: nowrap;
  	overflow: hidden;
  	font-size: 14px;
}

.sprite__block {
	margin-left: 18px;
	margin-right: 0;
}

.sprite__block_one {
	@include sprite($list1);

	&:hover {
		@include sprite($list1-hover);	
	}
}

.sprite__block_one-hover {
	
}

.sprite__block_two {
	@include sprite($list2);

	&:hover {
		@include sprite($line2-hover);
	}
}

.sprite__block_two-hover {
		
}

.sprite__block_three {
	@include sprite($list3);

	&:hover {
		@include sprite($list3-hover);	
	}
}

.sprite__block_three-hover {
	
}

.content__goods_item:hover {
	box-shadow: 0 0 10px #a9acae;
}

.content__goods {
	border: 1px solid #dfe2e5;
	border-radius: 5px;
	background-color: #fbfbfb;
	margin-bottom: 65px;
}

.content__goods_list {
	padding-left: 0;
}

.goods__photo {
	width: 136px;
	position: relative;
}

.goods__photo_list {
	padding-left: 0;
	font-size: 0;
}

.goods__photo_main-img, .goods__photo_small-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.goods__photo_small-img {
	height: 85%;
}


.goods__photo_main {
	width: 136px;
	height: 136px;
	border: 1px solid #dfe2e5;
	border-radius: 2px;
	background-color: white;
	margin-bottom: 15px;
	cursor: pointer;
	position: relative;

	&:hover {
		border: 1px solid $orange;
	}
}

.goods__photo_small {
	width: 34px;
	height: 34px;
	border: 1px solid #dfe2e5;
	border-radius: 2px;
	display: inline-block;
	background-color: white;
	margin-right: 17px;
	position: relative;
	cursor: pointer;

	&:hover {
		border: 1px solid $orange;
	}
}

.slider_first_picture {
	background-image: url(/images/samsung-big-2.jpg);
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.slider_second_picture {
	background-image: url(/images/samsung-big-3.jpg);
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.goods__photo_main-wrapper {
	margin-top: 6px;
	margin-left: 18px;
}

.goods__small_wrapper {
	position: absolute;
	left: 18%;
	top: 5%;
}

.goods__photo_small:last-child {
	margin-right: 0;
}

.mark {
	font-family: $opensanssb;
	font-size: 12px;
	color: #878787;
}

.mark__span {
	font-family: $opensansb;
	font-size: 14px;
	color: $font-color;
	white-space: pre;
}

.goods__title {
	font-family: $opensansb;
	font-size: 16px;
	color: #121212;
}

.goods__text {
	font-family: $opensansreg;
	font-size: 14px;
	color: $font-color;
	margin-bottom: 13px;
	margin-top: 20px;
}

.goods__stars {
	display: inline-block;
}

.goods__stars_one {
	@include sprite($star-red);
}

.goods__stars_two {
	@include sprite($star-red);
}

.goods__stars_three {
	@include sprite($star-red);
}

.goods__stars_four {
	@include sprite($star-red);
}

.goods__stars_five {
	@include sprite($star-gray);
}

.goods__stars_number {
	width: 27px;
	height: 15px;
	background-color: #b5beca;
	border-radius: 8px;
	color: #fbfbfb;
	font-family: $opensansb;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	line-height: 1.3;
	vertical-align: middle;
	margin-left: 2px;
}

.goods__price {
	font-family: $opensansb;
	font-size: 20px;
	color: $font-color;
}

.price__span {
	margin-right: 4px;
}

.rouble-sign {
	width: 10px;
}

.goods__basket {
	width: 103px;
	height: 33px;
	background-color: $orange;
	font-family: $opensansb;
	font-size: 14px;
	color: #fff5ee;
	border-radius: 5px;
	text-align: center;
	outline: none;
	border: none;

	&:hover {
		background-color: #fd7215;
	}
}

.sphere, .goods__available_text  {
	display: inline-block;
}

.sphere {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #60ac49;
}

.goods__available_text {
	font-family: $opensansb;
	font-size: 12px;
	color: #7f7f7f;
}


.content-page1 {

	.content__goods_item {
		padding: 19px 26px 0 22px;
		border-bottom: 1px solid #dfe2e5;
	}

	.wrap {
		display: table;
		margin-bottom: 15px;
	}


	.goods__photo, .goods__info, .goods__buy-info {
		display: table-cell;
		vertical-align: top;
	}

	.goods__photo {
		padding-right: 24px;
	}

	.goods__info {
		margin-top: 5px;
		margin-left: 20px;
		padding: 5px 15px 15px 0;
	}

	.goods__buy-info {
		height: 100%;
		width: 127px;
		border-left: 1px solid #dee1e4;
		padding-left: 24px;
		position: relative;
	}
		
	.mark {
		margin-top: 7px;
		margin-left: 13px;
		margin-bottom: 0;
	}

	.goods__price {
		padding-left: 24px;
		padding-top: 2px;
	}

	.goods__basket {
		margin-bottom: 5px;
		position: absolute;
		bottom: 20px;
	}

	.goods__available {
		margin-left: 21px;
		position: absolute;
		bottom: 1px;
	}

	.goods__title3, .goods__table {
		display: none;
	}
}


.content-page2 {

	.content__goods {
		background-color: #f4f4f4;
		border:none;
		text-align: justify;
	}

	.content__goods_item {
		display: inline-block;
		width: 235px;
		border: 1px solid #dee1e4;
		border-radius: 5px;
		background-color: #fbfbfb;
		height: 513px;
		vertical-align: top;
		margin-bottom: 19px;
		padding-top: 19px;
	}

	.content__goods_item:nth-child(7) {
		margin-right: 14px;
	}

	.content__goods_item:nth-child(8) {
		margin-right: 11px;
	}

	.goods__info {
		margin: 0 auto;
	}

	.goods__photo {
		margin: 0 auto;
		margin-bottom: 12px;
	}

	.goods__title {
		font-size: 15px;
		text-align: center;
		padding-left: 16px;
		padding-right: 16px;
		height: 42px;
	}

	.goods__table {
		font-family: $opensansreg;
		font-size: 14px;
		width: 213px;
		margin: 0 auto;
		margin-top: 1px;
		margin-bottom: 3px;
		display: table;
	}

	td {
		max-height: 21px;
		overflow: hidden;
	}

	tr {
		line-height: 1.45;
	}

	tr:nth-child(odd) {
		background-color: #e6e6e6;
	}

	tr:nth-child(even) {
		background-color: #fbfbfb;
	}

	.goods__td_left {
		float: left;
	}

	.goods__td_right {
		float: right;
	}

	.goods__price, .goods__stars_list, .goods__buy-info{
		text-align: center;
	}

	.goods__stars_list {
		margin-bottom: 1px;
		padding-right: 5px;
		position: relative;
		height: 24px;
	}

	.goods__stars_list-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: -2px;
	}

	.goods__price {
		padding-right: 9px;
		margin-bottom: 3px;
	}

	.goods__buy-info {
		position: relative;
	}

	 .goods__available {
		position: absolute;
		left: 22px;
		top: 36px;
	}

	.goods__basket {
		position: absolute;
		right: 12px;
		top: 30px;
	}

	.mark, .goods__title3, .goods__text {
		display: none;
	}

}


.content-page3 {

	.goods__photo, .goods__info, .goods__buy-info, .goods__price, .goods__basket, .goods__available {
		display: inline-block;
	}

	.content__goods_item {
		height: 51px;
		border-bottom: 1px solid #dee1e4;
		padding-left: 12px;
		padding-top: 4px;
		padding-right: 14px;
	}

	.goods__photo, .goods__info, .goods__buy-info {
		vertical-align: middle;
	}

	.price__span {
		margin-right: 8px;
	}

	.goods__photo {
		margin-right: -26px;
	}

	.goods__buy-info {
		float: right;
		margin-top: 5px;
	}

	.price__span {
		font-size: 18px;
	}

	.rouble-sign {
		width: 8%;
	}

	.goods__basket {
		float: right;
		margin-left: 20px;
	}

	.goods__title3 {
		font-family: $opensansreg;
		font-size: 14px;
		display: inline-block;
		white-space: nowrap;
		width: 289px;
	}

	.goods__info {
		width: 289px;
		overflow: hidden;
	}

	.goods__photo_main, .goods__photo_list, .goods__title, .goods__text, .goods__table, .goods__stars_list {
		display: none;
	}

}




.content__pages {
	margin-bottom: 2px;
}

.content__pages_list {
	text-align: right;
	padding-left: 0;
}

.content__pages_item, .content__pages_link {
	display: inline-block;
}

.content__pages_item {
	background-color: #fbfbfb;
	border: 1px solid #dee1e4;
	border-radius: 3px;
		
	&:hover {
		background-color: #e0e0e0;
	}

}

.content__pages_link {
	font-family: $opensansb;
	font-size: 12px;
	color: #7f7f7f;
	width: 24px;
	height: 24px;
	text-align: center;
	padding-top: 3px;
}