.footer {
	background: url(/images/background-footer.jpg);
	height: 222px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 35px;
	font-family: $opensansreg;
}

.footer__wrapper {
	border-bottom: 1px solid #494949;
	height: 157px;
}

.footer__left-right-wrapper {
	width: $width;
	margin: $margin-center;
	@extend %clearfix;
}

.footer__left {
	float: left;
	padding-top: 36px;
	padding-left: 12px;
	width: 50%;
}

.footer__right {
	float: right;
	width: 50%;
}

.socials__item-footer {
	width: 43px;
	height: 43px;
	@extend %inlineblock;
	margin-left: 22px;
}

.socials__footer {
	float: right;
	padding-right: 5px;
	margin-bottom: 28px;
}

.socials__footer-link_fb {
	@include sprite($fb-footer);	

	&:hover {
		@include sprite($fb-footer-hover);	
	}
}

.socials__footer-link_vk {
	@include sprite($vk-footer);

	&:hover {
		@include sprite($vk-footer-hover);	
	}
}

.socials__footer-link_tw {
	@include sprite($tw-footer);

	&:hover {
		@include sprite($tw-footer-hover);	
	}
}

.products-menu__footer {
	clear: both;
}

.products-menu__footer-list {
	padding-left: 0;
	@extend %clearfix;
	margin-right: -10px;
}

.products-menu__footer-item {
	@extend %inlineblock; 
	padding-left: 12px;
	padding-right: 12px;
	float: right;
	margin-bottom: 14px;
}

.products-menu__footer-link {
	font-size: 14px;
	color: white;
	text-decoration: underline;

	&:hover {
		color: $orange;
	}
}

.footer__down, .footer__text {
	width: $width;
	margin: $margin-center;
}	

.footer__text {
	font-size: 12px;
	color: #d6d6d6;
	text-align: center;
	padding-top: 5px;
	padding-left: 14px;
}