$sidebar_bgcolor: #fbfbfb;
$sidebar_width: 333px;
$sidebar_color: #5d656c;

%borderradius {
	border: 1px solid #dee1e4;
	border-radius: 5px;	
}

.section-title {
	font-family: $opensansb;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 28px;
	padding-left: 9px;
	color: $font-color;
}

.container {
	padding-left: 11px;
	@extend %clearfix;
	margin-bottom: 25px;
}

.sidebar {
	display: inline-block;
	width: $sidebar_width;
	vertical-align: top;
	float: left;
}

.sidebar__list {
	min-height: 92px;
	@extend %borderradius;
	margin-bottom: 36px;
	background-color: $sidebar_bgcolor;
	font-family: $opensansreg;
	font-size: 14px;
	padding-left: 0;
}

.sidebar__item {
	min-height: 46px;
	width: 100%;
}

.sidebar__link {
	display: inline-block;
	width: 100%;
	min-height: 46px;
	color: $sidebar_color;
	padding-left: 28px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dee1e4;
	
	&:hover {
		background-color: #d9e5ea;
	}
}

.sidebar__link_last {
	border-bottom: none;
}

.sidebar__acco-form {
	background-color: $sidebar_bgcolor;
	@extend %borderradius;
}

.acco__list {
	padding-left: 0;
}

.acco__item {
	border-bottom: 1px solid #dee1e4;
}

.acco__link {
	font-family: $opensanssb;
	font-size: 16px;
	color: $font-color;
	@extend %inlineblock;
	width: 100%;
	min-height: 46px;
	padding-left: 28px;
	padding-top: 11px;
	position: relative;
}

.up:after {
	@include sprite($arrow-up);
	content: "";
	display: inline-block;
	width: 18px;
	height: 11px;
	position: absolute;
	right: 11px;
	bottom: 19px;
}

.down:after {
	@include sprite($arrow-down);
	content: "";
	display: inline-block;
	width: 18px;
	height: 11px;
	position: absolute;
	right: 11px;
	bottom: 19px;
}

.acco__content {
	font-family: $opensansreg;
	font-size: 14px;
	color: $font-color;
	padding-left: 29px;
	margin-top: 2px;
}

.acco__content-link {
	color: #5db2fc;
	text-decoration: underline;
}

.acco__link_hover {
	background-color: #d9e5ea;
}

.acco__content-item {
	margin-bottom: 19px;
}

.label {
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.acco__content-item_input {
	width: 19px;
	height: 19px;
	vertical-align: top;
	margin-right: -24px;
	margin-top: -1px;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.radiobox-fake, .checkbox-fake {
	width: 19px;
	height: 19px;
	vertical-align: top;
	display: inline-block;
	margin-right: 11px;
}

.label:hover .radiobox-fake {
	@include sprite($radio-hover);
}

.radiobox-fake {
	@include sprite($radio-unchecked);
}

.checked_elem:checked + .radiobox-fake {
	@include sprite($radio-checked);
}

.label:hover .checkbox-fake {
	@include sprite($box-hover);
}

.checkbox-fake {
	@include sprite($box-unchecked);
}

.checked_elem1:checked + .checkbox-fake {
	@include sprite($box-checked);
}

.acco__reset {
	margin-bottom: 18px;
	margin-top: -9px;
}

.acco__link_colors {
	padding-top: 14px;
}

.acco__colors {
	padding-right: 65px;
	margin-bottom: -2px;
}

.acco__item_color {
	padding-bottom: 3px; 
}

.acco__colors_item {
	width: 37px;
	height: 37px;
	border: 1px solid #dee1e4;
	display: inline-block;
	font-size: 0;
	margin-right: 18px;
	margin-bottom: 18px;

	&:hover {
		border: 1px solid $orange;
	}
}

.acco__colors_item0 {
	background-color: #ffffff;
}

.acco__colors_item1 {
	background-color: #cccccc;
}

.acco__colors_item2 {
	background-color: #000000;
}

.acco__colors_item3 {
	background-color: #0a3153;
}

.acco__colors_item4 {
	background-color: #ff1800;
}

.acco__colors_item5 {
	background-color: #fff343;
}

.acco__colors_item6 {
	background-color: #fb914a;
}

.acco__colors_item7 {
	background-color: #92c37c;
}

.acco__colors_item8 {
	background-color: #40a6ff;
}

.acco__colors_item9 {
	background-color: #9870ad;
}

.acco__colors_item10 {
	background-color: #dc78ad;
}

.acco__colors_item11 {
	background-color: #7f401d;
}

.prices {
	margin-top: 3px;
	margin-bottom: 18px;
}

.price__text, .price__input {
	display: inline-block;
}

.price__text {
	margin-right: 10px;
}

.price__input {
	width: 83px;
	height: 30px;
	border: 1px solid #ebedef;
	border-radius: 4px;
	outline: none;
	padding-left: 10px;
}

.price__input_first {
	margin-right: 45px;
}