/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$alc1-name: 'alc1';
$alc1-x: 136px;
$alc1-y: 46px;
$alc1-offset-x: -136px;
$alc1-offset-y: -46px;
$alc1-width: 20px;
$alc1-height: 28px;
$alc1-total-width: 266px;
$alc1-total-height: 225px;
$alc1-image: '../images/sprite3.png';
$alc1: (136px, 46px, -136px, -46px, 20px, 28px, 266px, 225px, '../images/sprite3.png', 'alc1', );
$alc2-name: 'alc2';
$alc2-x: 72px;
$alc2-y: 146px;
$alc2-offset-x: -72px;
$alc2-offset-y: -146px;
$alc2-width: 16px;
$alc2-height: 29px;
$alc2-total-width: 266px;
$alc2-total-height: 225px;
$alc2-image: '../images/sprite3.png';
$alc2: (72px, 146px, -72px, -146px, 16px, 29px, 266px, 225px, '../images/sprite3.png', 'alc2', );
$alc3-name: 'alc3';
$alc3-x: 35px;
$alc3-y: 196px;
$alc3-offset-x: -35px;
$alc3-offset-y: -196px;
$alc3-width: 15px;
$alc3-height: 29px;
$alc3-total-width: 266px;
$alc3-total-height: 225px;
$alc3-image: '../images/sprite3.png';
$alc3: (35px, 196px, -35px, -196px, 15px, 29px, 266px, 225px, '../images/sprite3.png', 'alc3', );
$archos1-name: 'archos1';
$archos1-x: 94px;
$archos1-y: 48px;
$archos1-offset-x: -94px;
$archos1-offset-y: -48px;
$archos1-width: 19px;
$archos1-height: 29px;
$archos1-total-width: 266px;
$archos1-total-height: 225px;
$archos1-image: '../images/sprite3.png';
$archos1: (94px, 48px, -94px, -48px, 19px, 29px, 266px, 225px, '../images/sprite3.png', 'archos1', );
$archos2-name: 'archos2';
$archos2-x: 215px;
$archos2-y: 100px;
$archos2-offset-x: -215px;
$archos2-offset-y: -100px;
$archos2-width: 15px;
$archos2-height: 29px;
$archos2-total-width: 266px;
$archos2-total-height: 225px;
$archos2-image: '../images/sprite3.png';
$archos2: (215px, 100px, -215px, -100px, 15px, 29px, 266px, 225px, '../images/sprite3.png', 'archos2', );
$archos3-name: 'archos3';
$archos3-x: 215px;
$archos3-y: 51px;
$archos3-offset-x: -215px;
$archos3-offset-y: -51px;
$archos3-width: 15px;
$archos3-height: 29px;
$archos3-total-width: 266px;
$archos3-total-height: 225px;
$archos3-image:'../images/sprite3.png';
$archos3: (215px, 51px, -215px, -51px, 15px, 29px, 266px, 225px, '../images/sprite3.png', 'archos3', );
$fly1-name: 'fly1';
$fly1-x: 0px;
$fly1-y: 0px;
$fly1-offset-x: 0px;
$fly1-offset-y: 0px;
$fly1-width: 28px;
$fly1-height: 28px;
$fly1-total-width: 266px;
$fly1-total-height: 225px;
$fly1-image: '../images/sprite3.png';
$fly1: (0px, 0px, 0px, 0px, 28px, 28px, 266px, 225px, '../images/sprite3.png', 'fly1', );
$fly2-name: 'fly2';
$fly2-x: 179px;
$fly2-y: 52px;
$fly2-offset-x: -179px;
$fly2-offset-y: -52px;
$fly2-width: 16px;
$fly2-height: 31px;
$fly2-total-width: 266px;
$fly2-total-height: 225px;
$fly2-image: '../images/sprite3.png';
$fly2: (179px, 52px, -179px, -52px, 16px, 31px, 266px, 225px, '../images/sprite3.png', 'fly2', );
$fly3-name: 'fly3';
$fly3-x: 215px;
$fly3-y: 0px;
$fly3-offset-x: -215px;
$fly3-offset-y: 0px;
$fly3-width: 15px;
$fly3-height: 31px;
$fly3-total-width: 266px;
$fly3-total-height: 225px;
$fly3-image: '../images/sprite3.png';
$fly3: (215px, 0px, -215px, 0px, 15px, 31px, 266px, 225px, '../images/sprite3.png', 'fly3', );
$hs1-name: 'hs1';
$hs1-x: 0px;
$hs1-y: 48px;
$hs1-offset-x: 0px;
$hs1-offset-y: -48px;
$hs1-width: 22px;
$hs1-height: 29px;
$hs1-total-width: 266px;
$hs1-total-height: 225px;
$hs1-image: '../images/sprite3.png';
$hs1: (0px, 48px, 0px, -48px, 22px, 29px, 266px, 225px,'../images/sprite3.png', 'hs1', );
$hs2-name: 'hs2';
$hs2-x: 0px;
$hs2-y: 146px;
$hs2-offset-x: 0px;
$hs2-offset-y: -146px;
$hs2-width: 16px;
$hs2-height: 30px;
$hs2-total-width: 266px;
$hs2-total-height: 225px;
$hs2-image: '../images/sprite3.png';
$hs2: (0px, 146px, 0px, -146px, 16px, 30px, 266px, 225px,'../images/sprite3.png', 'hs2', );
$hs3-name: 'hs3';
$hs3-x: 179px;
$hs3-y: 0px;
$hs3-offset-x: -179px;
$hs3-offset-y: 0px;
$hs3-width: 16px;
$hs3-height: 32px;
$hs3-total-width: 266px;
$hs3-total-height: 225px;
$hs3-image: '../images/sprite3.png';
$hs3: (179px, 0px, -179px, 0px, 16px, 32px, 266px, 225px,'../images/sprite3.png', 'hs3', );
$line2-hover-name: 'line2-hover';
$line2-hover-x: 209px;
$line2-hover-y: 196px;
$line2-hover-offset-x: -209px;
$line2-hover-offset-y: -196px;
$line2-hover-width: 16px;
$line2-hover-height: 16px;
$line2-hover-total-width: 266px;
$line2-hover-total-height: 225px;
$line2-hover-image: '../images/sprite3.png';
$line2-hover: (209px, 196px, -209px, -196px, 16px, 16px, 266px, 225px, '../images/sprite3.png', 'line2-hover', );
$list1-hover-name: 'list1-hover';
$list1-hover-x: 179px;
$list1-hover-y: 103px;
$list1-hover-offset-x: -179px;
$list1-hover-offset-y: -103px;
$list1-hover-width: 16px;
$list1-hover-height: 16px;
$list1-hover-total-width: 266px;
$list1-hover-total-height: 225px;
$list1-hover-image: '../images/sprite3.png';
$list1-hover: (179px, 103px, -179px, -103px, 16px, 16px, 266px, 225px, '../images/sprite3.png', 'list1-hover', );
$list1-name: 'list1';
$list1-x: 250px;
$list1-y: 0px;
$list1-offset-x: -250px;
$list1-offset-y: 0px;
$list1-width: 16px;
$list1-height: 16px;
$list1-total-width: 266px;
$list1-total-height: 225px;
$list1-image: '../images/sprite3.png';
$list1: (250px, 0px, -250px, 0px, 16px, 16px, 266px, 225px,'../images/sprite3.png', 'list1', );
$list2-name: 'list2';
$list2-x: 173px;
$list2-y: 196px;
$list2-offset-x: -173px;
$list2-offset-y: -196px;
$list2-width: 16px;
$list2-height: 16px;
$list2-total-width: 266px;
$list2-total-height: 225px;
$list2-image: '../images/sprite3.png';
$list2: (173px, 196px, -173px, -196px, 16px, 16px, 266px, 225px, '../images/sprite3.png', 'list2', );
$list3-hover-name: 'list3-hover';
$list3-hover-x: 250px;
$list3-hover-y: 36px;
$list3-hover-offset-x: -250px;
$list3-hover-offset-y: -36px;
$list3-hover-width: 16px;
$list3-hover-height: 16px;
$list3-hover-total-width: 266px;
$list3-hover-total-height: 225px;
$list3-hover-image: '../images/sprite3.png';
$list3-hover: (250px, 36px, -250px, -36px, 16px, 16px, 266px, 225px, '../images/sprite3.png', 'list3-hover', );
$list3-name: 'list3';
$list3-x: 250px;
$list3-y: 72px;
$list3-offset-x: -250px;
$list3-offset-y: -72px;
$list3-width: 16px;
$list3-height: 16px;
$list3-total-width: 266px;
$list3-total-height: 225px;
$list3-image: '../images/sprite3.png';
$list3: (250px, 72px, -250px, -72px, 16px, 16px, 266px, 225px, '../images/sprite3.png', 'list3', );
$lumia430-1-name: 'lumia430-1';
$lumia430-1-x: 78px;
$lumia430-1-y: 97px;
$lumia430-1-offset-x: -78px;
$lumia430-1-offset-y: -97px;
$lumia430-1-width: 21px;
$lumia430-1-height: 26px;
$lumia430-1-total-width: 266px;
$lumia430-1-total-height: 225px;
$lumia430-1-image: '../images/sprite3.png';
$lumia430-1: (78px, 97px, -78px, -97px, 21px, 26px, 266px, 225px, '../images/sprite3.png', 'lumia430-1', );
$lumia430-2-name: 'lumia430-2';
$lumia430-2-x: 180px;
$lumia430-2-y: 146px;
$lumia430-2-offset-x: -180px;
$lumia430-2-offset-y: -146px;
$lumia430-2-width: 15px;
$lumia430-2-height: 28px;
$lumia430-2-total-width: 266px;
$lumia430-2-total-height: 225px;
$lumia430-2-image: '../images/sprite3.png';
$lumia430-2: (180px, 146px, -180px, -146px, 15px, 28px, 266px, 225px, '../images/sprite3.png', 'lumia430-2', );
$lumia430-3-name: 'lumia430-3';
$lumia430-3-x: 108px;
$lumia430-3-y: 146px;
$lumia430-3-offset-x: -108px;
$lumia430-3-offset-y: -146px;
$lumia430-3-width: 16px;
$lumia430-3-height: 28px;
$lumia430-3-total-width: 266px;
$lumia430-3-total-height: 225px;
$lumia430-3-image: '../images/sprite3.png';
$lumia430-3: (108px, 146px, -108px, -146px, 16px, 28px, 266px, 225px, '../images/sprite3.png', 'lumia430-3', );
$lumia640-1-name: 'lumia640-1';
$lumia640-1-x: 94px;
$lumia640-1-y: 0px;
$lumia640-1-offset-x: -94px;
$lumia640-1-offset-y: 0px;
$lumia640-1-width: 22px;
$lumia640-1-height: 28px;
$lumia640-1-total-width: 266px;
$lumia640-1-total-height: 225px;
$lumia640-1-image: '../images/sprite3.png';
$lumia640-1: (94px, 0px, -94px, 0px, 22px, 28px, 266px, 225px, '../images/sprite3.png', 'lumia640-1', );
$lumia640-2-name: 'lumia640-2';
$lumia640-2-x: 39px;
$lumia640-2-y: 97px;
$lumia640-2-offset-x: -39px;
$lumia640-2-offset-y: -97px;
$lumia640-2-width: 19px;
$lumia640-2-height: 29px;
$lumia640-2-total-width: 266px;
$lumia640-2-total-height: 225px;
$lumia640-2-image:'../images/sprite3.png';
$lumia640-2: (39px, 97px, -39px, -97px, 19px, 29px, 266px, 225px, '../images/sprite3.png', 'lumia640-2', );
$lumia640-3-name: 'lumia640-3';
$lumia640-3-x: 0px;
$lumia640-3-y: 196px;
$lumia640-3-offset-x: 0px;
$lumia640-3-offset-y: -196px;
$lumia640-3-width: 15px;
$lumia640-3-height: 29px;
$lumia640-3-total-width: 266px;
$lumia640-3-total-height: 225px;
$lumia640-3-image: '../images/sprite3.png';
$lumia640-3: (0px, 196px, 0px, -196px, 15px, 29px, 266px, 225px, '../images/sprite3.png', 'lumia640-3', );
$philips1-name: 'philips1';
$philips1-x: 136px;
$philips1-y: 0px;
$philips1-offset-x: -136px;
$philips1-offset-y: 0px;
$philips1-width: 23px;
$philips1-height: 26px;
$philips1-total-width: 266px;
$philips1-total-height: 225px;
$philips1-image: '../images/sprite3.png';
$philips1: (136px, 0px, -136px, 0px, 23px, 26px, 266px, 225px, '../images/sprite3.png', 'philips1', );
$philips2-name: 'philips2';
$philips2-x: 139px;
$philips2-y: 196px;
$philips2-offset-x: -139px;
$philips2-offset-y: -196px;
$philips2-width: 14px;
$philips2-height: 28px;
$philips2-total-width: 266px;
$philips2-total-height: 225px;
$philips2-image:'../images/sprite3.png';
$philips2: (139px, 196px, -139px, -196px, 14px, 28px, 266px, 225px, '../images/sprite3.png', 'philips2', );
$philips3-name: 'philips3';
$philips3-x: 144px;
$philips3-y: 146px;
$philips3-offset-x: -144px;
$philips3-offset-y: -146px;
$philips3-width: 16px;
$philips3-height: 28px;
$philips3-total-width: 266px;
$philips3-total-height: 225px;
$philips3-image: '../images/sprite3.png';
$philips3: (144px, 146px, -144px, -146px, 16px, 28px, 266px, 225px, '../images/sprite3.png', 'philips3', );
$samsung1-name: 'samsung1';
$samsung1-x: 42px;
$samsung1-y: 48px;
$samsung1-offset-x: -42px;
$samsung1-offset-y: -48px;
$samsung1-width: 22px;
$samsung1-height: 28px;
$samsung1-total-width: 266px;
$samsung1-total-height: 225px;
$samsung1-image:'../images/sprite3.png';
$samsung1: (42px, 48px, -42px, -48px, 22px, 28px, 266px, 225px,'../images/sprite3.png', 'samsung1', );
$samsung2-name: 'samsung2';
$samsung2-x: 0px;
$samsung2-y: 97px;
$samsung2-offset-x: 0px;
$samsung2-offset-y: -97px;
$samsung2-width: 19px;
$samsung2-height: 29px;
$samsung2-total-width: 266px;
$samsung2-total-height: 225px;
$samsung2-image: '../images/sprite3.png';
$samsung2: (0px, 97px, 0px, -97px, 19px, 29px, 266px, 225px, '../images/sprite3.png', 'samsung2', );
$samsung3-name: 'samsung3';
$samsung3-x: 36px;
$samsung3-y: 146px;
$samsung3-offset-x: -36px;
$samsung3-offset-y: -146px;
$samsung3-width: 16px;
$samsung3-height: 30px;
$samsung3-total-width: 266px;
$samsung3-total-height: 225px;
$samsung3-image: '../images/sprite3.png';
$samsung3: (36px, 146px, -36px, -146px, 16px, 30px, 266px, 225px,'../images/sprite3.png', 'samsung3', );
$select-down-name: 'select-down';
$select-down-x: 250px;
$select-down-y: 172px;
$select-down-offset-x: -250px;
$select-down-offset-y: -172px;
$select-down-width: 13px;
$select-down-height: 9px;
$select-down-total-width: 266px;
$select-down-total-height: 225px;
$select-down-image: '../images/sprite3.png';
$select-down: (250px, 172px, -250px, -172px, 13px, 9px, 266px, 225px,'../images/sprite3.png', 'select-down', );
$select-up-name: 'select-up';
$select-up-x: 250px;
$select-up-y: 143px;
$select-up-offset-x: -250px;
$select-up-offset-y: -143px;
$select-up-width: 13px;
$select-up-height: 9px;
$select-up-total-width: 266px;
$select-up-total-height: 225px;
$select-up-image:'../images/sprite3.png';
$select-up: (250px, 143px, -250px, -143px, 13px, 9px, 266px, 225px,'../images/sprite3.png', 'select-up', );
$sens1-name: 'sens1';
$sens1-x: 48px;
$sens1-y: 0px;
$sens1-offset-x: -48px;
$sens1-offset-y: 0px;
$sens1-width: 26px;
$sens1-height: 26px;
$sens1-total-width: 266px;
$sens1-total-height: 225px;
$sens1-image: '../images/sprite3.png';
$sens1: (48px, 0px, -48px, 0px, 26px, 26px, 266px, 225px, '../images/sprite3.png', 'sens1', );
$sens2-name: 'sens2';
$sens2-x: 105px;
$sens2-y: 196px;
$sens2-offset-x: -105px;
$sens2-offset-y: -196px;
$sens2-width: 14px;
$sens2-height: 29px;
$sens2-total-width: 266px;
$sens2-total-height: 225px;
$sens2-image: '../images/sprite3.png';
$sens2: (105px, 196px, -105px, -196px, 14px, 29px, 266px, 225px,'../images/sprite3.png', 'sens2', );
$sens3-name: 'sens3';
$sens3-x: 70px;
$sens3-y: 196px;
$sens3-offset-x: -70px;
$sens3-offset-y: -196px;
$sens3-width: 15px;
$sens3-height: 29px;
$sens3-total-width: 266px;
$sens3-total-height: 225px;
$sens3-image:'../images/sprite3.png';
$sens3: (70px, 196px, -70px, -196px, 15px, 29px, 266px, 225px,'../images/sprite3.png', 'sens3', );
$star-gray-name: 'star-gray';
$star-gray-x: 119px;
$star-gray-y: 97px;
$star-gray-offset-x: -121px;
$star-gray-offset-y: -93px;
$star-gray-width: 21px;
$star-gray-height: 20px;
$star-gray-total-width: 266px;
$star-gray-total-height: 225px;
$star-gray-image:'../images/sprite3.png';
$star-gray: (119px, 97px, -121px, -93px, 21px, 20px, 266px, 225px, '../images/sprite3.png', 'star-gray', );
$star-red-name: 'star-red';
$star-red-x: 250px;
$star-red-y: 108px;
$star-red-offset-x: -250px;
$star-red-offset-y: -108px;
$star-red-width: 16px;
$star-red-height: 15px;
$star-red-total-width: 266px;
$star-red-total-height: 225px;
$star-red-image:'../images/sprite3.png';
$star-red: (250px, 108px, -250px, -108px, 16px, 15px, 266px, 225px,'../images/sprite3.png', 'star-red', );
$spritesheet-width: 266px;
$spritesheet-height: 225px;
$spritesheet-image: '../images/sprite3.png';
$spritesheet-sprites: ($alc1, $alc2, $alc3, $archos1, $archos2, $archos3, $fly1, $fly2, $fly3, $hs1, $hs2, $hs3, $line2-hover, $list1-hover, $list1, $list2, $list3-hover, $list3, $lumia430-1, $lumia430-2, $lumia430-3, $lumia640-1, $lumia640-2, $lumia640-3, $philips1, $philips2, $philips3, $samsung1, $samsung2, $samsung3, $select-down, $select-up, $sens1, $sens2, $sens3, $star-gray, $star-red, );
$spritesheet: (266px, 225px, '../images/sprite3.png', $spritesheet-sprites, );



$alc-name: 'alc';
$alc-x: 486px;
$alc-y: 169px;
$alc-offset-x: -486px;
$alc-offset-y: -169px;
$alc-width: 90px;
$alc-height: 122px;
$alc-total-width: 714px;
$alc-total-height: 464px;
$alc-image: '../images/sprite4.png';
$alc: (486px, 169px, -486px, -169px, 90px, 122px, 714px, 464px, '../images/sprite4.png', 'alc', );
$archos-name: 'archos';
$archos-x: 633px;
$archos-y: 0px;
$archos-offset-x: -633px;
$archos-offset-y: 0px;
$archos-width: 81px;
$archos-height: 126px;
$archos-total-width: 714px;
$archos-total-height: 464px;
$archos-image: '../images/sprite4.png';
$archos: (633px, 0px, -633px, 0px, 81px, 126px, 714px, 464px, '../images/sprite4.png', 'archos', );
$fly-name: 'fly';
$fly-x: 0px;
$fly-y: 0px;
$fly-offset-x: 0px;
$fly-offset-y: 0px;
$fly-width: 118px;
$fly-height: 118px;
$fly-total-width: 714px;
$fly-total-height: 464px;
$fly-image: '../images/sprite4.png';
$fly: (0px, 0px, 0px, 0px, 118px, 118px, 714px, 464px, '../images/sprite4.png', 'fly', );
$hs-name: 'hs';
$hs-x: 338px;
$hs-y: 0px;
$hs-offset-x: -338px;
$hs-offset-y: 0px;
$hs-width: 98px;
$hs-height: 127px;
$hs-total-width: 714px;
$hs-total-height: 464px;
$hs-image: '../images/sprite4.png';
$hs: (338px, 0px, -338px, 0px, 98px, 127px, 714px, 464px, '../images/sprite4.png', 'hs', );
$lumia430-name: 'lumia430';
$lumia430-x: 157px;
$lumia430-y: 168px;
$lumia430-offset-x: -157px;
$lumia430-offset-y: -168px;
$lumia430-width: 99px;
$lumia430-height: 121px;
$lumia430-total-width: 714px;
$lumia430-total-height: 464px;
$lumia430-image: '../images/sprite4.png';
$lumia430: (157px, 168px, -157px, -168px, 99px, 121px, 714px, 464px, '../images/sprite4.png', 'lumia430', );
$lumia640-name: 'lumia640';
$lumia640-x: 486px;
$lumia640-y: 0px;
$lumia640-offset-x: -486px;
$lumia640-offset-y: 0px;
$lumia640-width: 97px;
$lumia640-height: 119px;
$lumia640-total-width: 714px;
$lumia640-total-height: 464px;
$lumia640-image: '../images/sprite4.png';
$lumia640: (486px, 0px, -486px, 0px, 97px, 119px, 714px, 464px, '../images/sprite4.png', 'lumia640', );
$philips-name: 'philips';
$philips-x: 0px;
$philips-y: 168px;
$philips-offset-x: 0px;
$philips-offset-y: -168px;
$philips-width: 107px;
$philips-height: 123px;
$philips-total-width: 714px;
$philips-total-height: 464px;
$philips-image: '../images/sprite4.png';
$philips: (0px, 168px, 0px, -168px, 107px, 123px, 714px, 464px, '../images/sprite4.png', 'philips', );
$samsung-name: 'samsung';
$samsung-x: 0px;
$samsung-y: 341px;
$samsung-offset-x: 0px;
$samsung-offset-y: -341px;
$samsung-width: 93px;
$samsung-height: 123px;
$samsung-total-width: 714px;
$samsung-total-height: 464px;
$samsung-image: '../images/sprite4.png';
$samsung: (0px, 341px, 0px, -341px, 93px, 123px, 714px, 464px, '../images/sprite4.png', 'samsung', );
$sens-name: 'sens';
$sens-x: 168px;
$sens-y: 0px;
$sens-offset-x: -168px;
$sens-offset-y: 0px;
$sens-width: 120px;
$sens-height: 116px;
$sens-total-width: 714px;
$sens-total-height: 464px;
$sens-image: '../images/sprite4.png';
$sens: (168px, 0px, -168px, 0px, 120px, 116px, 714px, 464px, '../images/sprite4.png', 'sens', );
$spritesheet-width: 714px;
$spritesheet-height: 464px;
$spritesheet-image: '../images/sprite4.png';
$spritesheet-sprites: ($alc, $archos, $fly, $hs, $lumia430, $lumia640, $philips, $samsung, $sens, );
$spritesheet: (714px, 464px, '../images/sprite4.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
